
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch
.eslintrc.js
init.js
.github
tmp
jest.config.js
tsconfig.json
tsconfig.node.json
tsconfig.prod.json
vercel.json
vite.config.ts
db.ts
**/package.json
*.md

