.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: Inter, serif;
}

.input__label,
.input__error {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #6d7280;
}

.input__error {
  color: var(--red-500);
}

.input {
  height: 40px;
  padding: 8px 12px;
  border-radius: 4px;
  gap: 12px;
  color: #111827;
  border: 1px solid #6d7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}
