.form__container {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9fafb;
  gap: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 6px 0 #0000000d;
}

.form {
  width: 493px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.form__header {
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

.form__button-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 6px;
}
