.leaderboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255 255 255 / 100%);
  max-width: 580px;
  min-height: 622px;
  margin: 24px auto;
  box-shadow: 0 1px 2px -1px rgb(0 0 0 / 10%);
  border-radius: 16px;
}

.leaderboard__header {
  margin: 24px 24px 24px 32px;
}

.leaderboard-input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 532px;
  border-bottom: 1px dashed rgb(109 114 128 / 100%);
  padding: 4px 8px;
}

.user-name {
  padding-left: 12px;
  color: rgb(109 114 128 / 100%);
}

.user-score {
  color: rgb(17 24 39 / 100%);
  margin-left: auto;
}
