.leaderboard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    max-width: 580px;
    min-height: 622px;
    margin: 24px auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.leaderboard__header {
    margin: 24px 24px 24px 32px;
}

.leaderboard-input__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 532px;
    border-bottom: 1px dashed rgba(109, 114, 128, 1);
    padding: 4px 8px;
}

.user-name {
    padding-left: 12px;
    color: rgba(109, 114, 128, 1);
}

.user-score {
    color: rgba(17, 24, 39, 1);
    margin-left: auto;
}
