@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'helpers.css';
:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --gray-100: rgba(243, 244, 246, 1);
  --gray-200: rgba(229, 231, 235, 1);
  --gray-300: rgba(210, 213, 218, 1);
  --gray-400: rgba(156, 163, 175, 1);
  --gray-500: rgba(109, 114, 128, 1);
  --gray-600: rgba(75, 85, 99, 1);
  --gray-700: rgba(55, 65, 81, 1);
  --gray-800: rgba(31, 41, 55, 1);
  --gray-900: rgba(17, 24, 39, 1);
  --red-50: rgba(254, 242, 242, 1);
  --red-100: rgba(254, 226, 226, 1);
  --red-200: rgba(254, 202, 202, 1);
  --red-300: rgba(252, 165, 165, 1);
  --red-400: rgba(248, 113, 113, 1);
  --red-500: rgba(239, 68, 68, 1);
  --red-600: rgba(220, 38, 38, 1);
  --red-700: rgba(185, 28, 28, 1);
  --red-800: rgba(153, 27, 27, 1);
  --red-900: rgba(127, 29, 29, 1);
  --orange-50: rgba(255, 247, 237, 1);
  --orange-100: rgba(255, 237, 213, 1);
  --orange-200: rgba(254, 215, 170, 1);
  --orange-300: rgba(253, 186, 116, 1);
  --orange-400: rgba(251, 146, 60, 1);
  --orange-500: rgba(249, 115, 22, 1);
  --orange-600: rgba(234, 88, 12, 1);
  --orange-700: rgba(194, 65, 12, 1);
  --orange-800: rgba(154, 52, 18, 1);
  --orange-900: rgba(124, 45, 18, 1);
  --yellow-50: rgba(254, 252, 232, 1);
  --yellow-100: rgba(254, 249, 195, 1);
  --yellow-200: rgba(254, 240, 138, 1);
  --yellow-300: rgba(253, 224, 71, 1);
  --yellow-400: rgba(250, 204, 21, 1);
  --yellow-500: rgba(234, 179, 8, 1);
  --yellow-600: rgba(202, 138, 4, 1);
  --yellow-700: rgba(161, 98, 7, 1);
  --yellow-800: rgba(133, 77, 14, 1);
  --yellow-900: rgba(113, 63, 18, 1);
  --green-50: rgba(240, 253, 244, 1);
  --green-100: rgba(220, 252, 231, 1);
  --green-200: rgba(187, 247, 208, 1);
  --green-300: rgba(134, 239, 172, 1);
  --green-400: rgba(74, 222, 128, 1);
  --green-500: rgba(34, 197, 94, 1);
  --green-600: rgba(22, 163, 74, 1);
  --green-700: rgba(21, 128, 61, 1);
  --green-800: rgba(22, 101, 52, 1);
  --green-900: rgba(20, 83, 45, 1);
  --blue-50: rgba(239, 246, 255, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --blue-200: rgba(191, 219, 254, 1);
  --blue-300: rgba(147, 197, 253, 1);
  --blue-400: rgba(96, 165, 250, 1);
  --blue-500: rgba(59, 130, 246, 1);
  --blue-600: rgba(37, 99, 235, 1);
  --blue-700: rgba(29, 78, 216, 1);
  --blue-800: rgba(30, 64, 175, 1);
  --blue-900: rgba(30, 58, 138, 1);
  --indigo-50: rgba(238, 242, 255, 1);
  --indigo-100: rgba(224, 231, 255, 1);
  --indigo-200: rgba(199, 210, 254, 1);
  --indigo-300: rgba(165, 180, 252, 1);
  --indigo-400: rgba(129, 140, 248, 1);
  --indigo-500: rgba(99, 102, 241, 1);
  --indigo-600: rgba(79, 70, 229, 1);
  --indigo-700: rgba(67, 56, 202, 1);
  --indigo-800: rgba(55, 48, 163, 1);
  --indigo-900: rgba(49, 46, 129, 1);
  --purple-50: rgba(250, 245, 255, 1);
  --purple-100: rgba(243, 232, 255, 1);
  --purple-200: rgba(233, 213, 255, 1);
  --purple-300: rgba(216, 180, 254, 1);
  --purple-400: rgba(192, 132, 252, 1);
  --purple-500: rgba(168, 85, 247, 1);
  --purple-600: rgba(147, 51, 234, 1);
  --purple-700: rgba(126, 34, 206, 1);
  --purple-800: rgba(107, 33, 168, 1);
  --purple-900: rgba(88, 28, 135, 1);
  --pink-50: rgba(253, 242, 248, 1);
  --pink-100: rgba(252, 231, 243, 1);
  --pink-200: rgba(251, 207, 232, 1);
  --pink-300: rgba(249, 168, 212, 1);
  --pink-400: rgba(244, 114, 182, 1);
  --pink-500: rgba(236, 72, 153, 1);
  --pink-600: rgba(219, 39, 119, 1);
  --pink-700: rgba(179, 24, 91, 1);
  --pink-800: rgba(157, 23, 77, 1);
  --pink-900: rgba(131, 24, 67, 1);

  /* Effect styles */
  --shadow--sm: 0px 1px 2px rgba(0, 0, 0, 0.08);
  --shadow--base: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  --shadow--md: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.5);
  --shadow--lg: 0px 10px 15px rgba(0, 0, 0, 0.1),
    0px 4px 6px rgba(0, 0, 0, 0.05);
  --shadow--xl: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  --shadow--2xl: 0px 25px 50px rgba(0, 0, 0, 0.25);
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: var(--gray-100);
}
